body {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    margin: 0;
}
header {
    position: fixed;
    background: #9f0000;
    color: white;
    padding: 1.7rem 0;
    top: 0;
    left: 0;
    right: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    align-items: center;
    z-index: 10;
}
nav ul {
    list-style: none;
    padding: 0;
}
    nav ul li {
        display: inline-block;
        cursor: pointer;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        margin-left: 5px;
        transition: all 0.4s linear;
    }
        nav ul li:hover {
            background: #dbd6d6;
            color: black;
            box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
        }
section {
    background: #e6e3e3;
    background: -moz-linear-gradient(-45deg, #e6e3e3 0%, #dbd6d6 50%, #e6e3e3 50%, #dbd6d6 100%);
    background: -webkit-linear-gradient(-45deg, #e6e3e3 0%, #dbd6d6 50%, #e6e3e3 50%, #dbd6d6 100%);
    background: linear-gradient(135deg, #e6e3e3 0%, #dbd6d6 50%, #e6e3e3 50%, #dbd6d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e3e3', endColorstr='#dbd6d6', GradientType=1);
    padding-bottom: 6rem;
    margin-bottom: 0;
}
main {
    padding-top: 11rem;
}
footer {
    background: #9f0000;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 4rem 0;
}
    footer a{
        text-decoration: none;
    }
        footer ul {
            list-style: none;
            text-decoration: none;
            text-align: center;
            margin: 0;
            padding: 0;
        }
            footer ul li {
                cursor: pointer;
                display: inline-block;
                text-decoration: none;
                border-radius: 5px;
                color: white;
                margin-top: 5px;
                padding: 0.5rem 1rem;
                transition: all 0.5s linear;
            }
                footer ul li:hover {
                    background: #dbd6d6;
                    color: black;
                    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
                }
/*------------------------------------------------------------------------*/
/*Global*/
p {
    margin-bottom: 1.6em;
}
.centro {
    text-align: center;
    color: black;
    cursor: pointer;
}
h3 {
    letter-spacing: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 24%;
    margin-left: 38%;
    border-bottom: 1px solid silver;
}
/*------------------------------------------------------------------------*/
/*Imagenes*/
.imagenHumano {
    position: fixed;
    width: 3%;
    left: 95%;
    top: 90%;
    border-radius: 50%;
    transition: all 0.5s linear;
}
.imagenHumano:hover {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.7);
}
/*------------------------------------------------------------------------*/
/*Espaciados*/
.espacio {
    padding-top: 1em;
}
/*------------------------------------------------------------------------*/
/*index.html*/
.container {
    width: 85%;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
}
.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    position: relative;
    font-size: 1.6em;
    letter-spacing: 7px;
}
.menu-icon {
    display: none;
}
.nombres {
    font-size: 0.9em;
}
/*------------------------------------------------------------------------*/
/*Chat.html*/
.chat_contenedor {
    border-radius: 12px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    width: 90%;
    margin: 0 auto;
    padding: 5px;
}
#outpout{
    display: block;
    height: 260px;
    width: 98%;
    margin: 10px;
    font-size: 1.5em;
    background-color: #dbd6d6;
    border-radius: 5px;
    border-left: 2px solid #9f0000;
    border-bottom: 2px solid silver;
}
    .grid-message{
        display: grid;
        grid-template-columns: 15% 75% 10%;
    }
    .mensaje{
        border-bottom: 2px solid silver;
        color: #000000;
    }
    .dhora{
        color: #9f0000;
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .nom-usu{
        display: grid;
        align-items: center;
        justify-content: center;
    }
#actions{
    display: block;
    height: 40px;
    width: 85%;
    margin: 10px;
    font-size: 1em;
    background-color: #dbd6d6;
    border-radius: 5px;
    border-left: 2px solid #9f0000;
    border-bottom: 2px solid silver;
}
#username{
    display: block;
    text-align: center;
    width: 40%;
    height: 40px;
    margin: 10px;
    font-size: 1em;
    margin-left: 30%;
    background-color: #dbd6d6;
    border-style: none;
    border-radius: 5px;
    border-left: 2px solid #9f0000;
    border-right: 2px solid #9f0000;
    border-top: 2px solid silver;
    border-bottom: 2px solid silver;
}
#message{
    display: block;
    height: 130px;
    width: 98%;
    margin: 10px;
    font-size: 1.5em;
    color: black;
    background: #dbd6d6;
    border-style: none;
    border-radius: 5px;
    border-left: 2px solid #9f0000;
    border-bottom: 2px solid silver;
}
#send{
    display: block;
    cursor: pointer;
    padding: 0.6rem;
    margin: 10px;
    width: 34%;
    margin-left: 33%;
    font-size: 1em;
    color: white;
    background: #9f0000;
    border-radius: 15px;
    border: 1px solid #9f0000;
    transition: all 0.5s linear;
}
    #send:hover{
        color: #9f0000;
        background: #dbd6d6;
        box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    }
#status{
    width: 95%;
    height: 200px;
    text-align: left;
    padding: 10px;
    margin: 10px;
    color: black;
    background: #dbd6d6;
    border-style: none;
    border-radius: 5px;
    border-left: 2px solid #9f0000;
    border-bottom: 2px solid silver;
}
#NumConexion{
    padding: 10px;
    color: #000000;
    font-size: 1em;
    text-align: center;
    background-color: rgba(159,0,0,0.6);
    height: 40px;
    width: 34%;
    border: 2px solid silver;
    border-radius: 10px;
}
@media only screen and (max-width: 950px) {
    header{
        padding: 1rem 0;
    }
    /*------------------------------------------------------------------------*/
    /*Menu desplegable*/
    .menu-icon{
        display: block;
        cursor: pointer;
        border-radius: 5px;
        font-size: 0.8em;
        padding:  0.5rem;
        transition: all 0.5s linear;
    }
    .menu-icon:hover{
        background: #dbd6d6;
        color: black;
        box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    }
    nav{
        width: 100%;
        margin-top: 1rem;   
    }
    nav ul{
        display: none;
    }
    nav ul.show{
        display: block;
    }
        nav ul li{
            display: block;
            text-align: center;
            border-radius: 5px;
            padding: 0.5rem 5px;
            transition: all 0.5s linear;
        }
            nav ul li:hover {
                background: #dbd6d6;
                color: black;
                box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
            }
    /*------------------------------------------------------------------------*/
    main{
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 10rem;
    }
    section{
        margin-top: 0;
        padding-top: 50px;
    }
    /*------------------------------------------------------------------------*/
    /*Global*/
    .imagenHumano{
        width: 10%;
        left: 85%;
    }
    h3{
        letter-spacing: 7px;
        width: 60%;
        margin-left: 20%;
        border-bottom: 1px solid silver;
    }
    /*------------------------------------------------------------------------*/
    /*Chat*/
    .chat_contenedor{
        width: 90%;
    }
    #outpout{
        width: 95%;
    }
    #username{
        width: 80%;
        margin-left: 10%;
    }
    #actions{
        width: 95%;
    }
    #message{
        width: 95%;
    }
    #status{
        width: 90%;
    }
    #NumConexion{
        width: 50%;
    }
}